<!-- <input focusOnInit type="text"> -->

<div class="left ">
    <div  class="equal clickable" (click)="setOrToggleFlag('isRequestDivVisible')">
      <label class="clickable">REQUEST{{resFieldDef?.f0?.lentype}}</label>
      <i [hidden]='flagObj.isRequestDivVisible' class="material-icons">keyboard_arrow_down</i>
      <i [hidden]='!flagObj.isRequestDivVisible' class="material-icons">keyboard_arrow_up</i></div>
    <div >
        <label *ngIf="reqProcStatus.type=='success' && reqProcStatus.msg" class="label-success"> {{reqProcStatus.msg}}</label>
        <label *ngIf="reqProcStatus.type=='error' && reqProcStatus.msg" class="label-error"> {{reqProcStatus.msg}}</label>
    </div>
</div>

<div *ngIf="flagObj.isRequestDivVisible">
<table class="table">
  <tr>
    <th>Delete</th>
    <th>FieldNo</th>
    <th>FieldLengthType</th>
    <th>FieldMaxLenght</th>
    <th >FieldDescritption</th>
    <th>FieldValue</th>
  </tr>
  <tr *ngFor="let req of reqData">
    <td class="clickable" (click)="removeReqDataRow(req?.key)"><i class="material-icons">delete</i></td>
    <td>{{req?.key}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key]?.lentype}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key]?.maxlen}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key]?.desc}}</td>
    <td *ngIf="!req.showEditField" (click)="req.showEditField=true;" class="pre-ws clickable">"{{req?.value}}"</td>
    <td *ngIf="req.showEditField">  <input focusOnInit  (ngModelChange)="onReqDataFVModelChange(req?.key, $event)" (keyup.enter)="req.showEditField=false" (blur)="req.showEditField=false" class="full-width" type="text" [(ngModel)]='req.value' placeholder="Enter Field Value..Then Hit Enter to update value!" ></td>
  </tr>
  <tr >
    <td  colspan="2"> <input  (keyup)="validateReqDataEditFno(reqDataEdit.fno)"   type="text" [(ngModel)]='reqDataEdit.fno' placeholder="Enter Field No(e.g f123)" /></td>
    <td *ngIf="reqFieldDef && flagObj.isreqDataEditFnoValid">{{reqFieldDef[reqDataEdit?.fno]?.lentype}}</td>
    <td *ngIf="reqFieldDef && flagObj.isreqDataEditFnoValid">{{reqFieldDef[reqDataEdit?.fno]?.maxlen}}</td>
    <td *ngIf="reqFieldDef && flagObj.isreqDataEditFnoValid">{{reqFieldDef[reqDataEdit?.fno]?.desc}}</td>
    <td *ngIf="flagObj.isreqDataEditFnoValid"> <input (keyup.enter)="addReqDataEditRow(reqDataEdit)"  class="full-width" type="text" [(ngModel)]='reqDataEdit.fvalue' placeholder="Enter Field Value..Then Hit Enter to add new record!" /></td>
  </tr>
</table>
<div class="right">
  <a  [href]="bindExportData? exportReqData(): ''" (click)="bindExportData=true" (blur)="bindExportData=false"  [class.btn-raised-disabled]="reqData?.length==0" download="request_data.json"  class="btn-raised ripple  clickable">Export Data</a>
  <label for="importReqData" class="btn-raised ripple clickable" >Import Data</label>
  <input id="importReqData" type="file" (change)="importReqData($event)" />
  <button [class.btn-raised-disabled]="reqData?.length==0 || flagObj.isSendBtnDisabled" (click)="getResponseData()" class="btn-raised ripple">Send to Server</button>
</div>
</div>


<div *ngIf="flagObj.responseDataStatus==1" class="center">
  <!-- <h4>1. response will appear here </h4> -->
  <pre>Response will appear here...!</pre>
</div>

<div *ngIf="flagObj.responseDataStatus==2" class="center">
  <!-- <h4>2. request has been send...wait for response to come</h4> -->
  <div class="circle">{{resTimeoutCntr}} Sec..</div>
</div>

<div *ngIf="flagObj.responseDataStatus==3 " class="label-error ">
  <!-- <pre>{{resErrorData.name}}\n</pre> -->
  <!-- <pre>{{resErrorData.message}}\n</pre> -->
  <label class="center">Got error response!</label>
  <pre ><span *ngFor="let err of resErrorData">{{err.key}}: {{err.value}}<br/></span></pre>
  <!-- <pre>Message: {{resErrorData.message}}</pre>
  <pre>Stack: {{resErrorData.stack}}</pre> -->
  <!-- <pre>Name: {{resErrorData.name}}<br/>Message: {{resErrorData.message}}<br/>Stack: {{resErrorData.stack}}</pre> -->
</div>

<div *ngIf="flagObj.responseDataStatus==4">
  <div class="left ">
  <div  class="equal clickable" (click)="setOrToggleFlag('isResponseDivVisible')">
    <label class="clickable">RESPONSE</label>
    <i [hidden]='flagObj.isResponseDivVisible' class="material-icons">keyboard_arrow_down</i>
    <i [hidden]='!flagObj.isResponseDivVisible' class="material-icons">keyboard_arrow_up</i>
  </div>
  </div>

  <div *ngIf="flagObj.isResponseDivVisible">
    <table class="table">
      <tr>
        <th>FieldNo</th>
        <!-- <th>FieldType</th> -->
        <th>FieldLengthType</th>
        <th>FieldMaxLength</th>
        <th>FieldDescritption</th>
        <th>FieldValue</th>
      </tr>
      <tr *ngFor="let res of resData">
        <td>{{res?.key}}</td>
        <!-- <td *ngIf="resFieldDef">{{resFieldDef[res?.key].type}}</td> -->
        <td *ngIf="resFieldDef">{{resFieldDef[res?.key]?.lentype}}</td>
        <td *ngIf="resFieldDef">{{resFieldDef[res?.key]?.maxlen}}</td>
        <td *ngIf="resFieldDef">{{resFieldDef[res?.key]?.desc}}</td>
        <td class="pre-ws">"{{res?.value}}"</td>
      </tr>
    </table>
  </div>

</div>
