<h6>REQUEST</h6>
<table class="table">
  <tr>
    <th>Delete</th>
    <th>FieldNo</th>
    <th>FieldType</th>
    <th>FieldLenType</th>
    <th>FieldLen</th>
    <th>FieldDescritption</th>
    <th>FieldValue</th>
  </tr>
  <tr *ngFor="let req of reqData">
    <td class="clickable" (click)="removeReqDataRow(req?.key)"><i class="material-icons">delete</i></td>
    <td>{{req?.key}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key].type}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key].lentype}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key].maxlen}}</td>
    <td *ngIf="reqFieldDef">{{reqFieldDef[req?.key].desc}}</td>
    <td class="pre-ws">"{{req?.value}}"</td>
    <!-- <td><pre>"{{req?.value}}"</pre></td> -->
  </tr>
</table>
<div class="right">
  <button class="btn-raised ripple">Add row</button>
  <button class="btn-raised ripple" (click)="downloadReqData()" >Export Data</button>
  <label for="importReqData" class="btn-raised ripple clickable" (click)="importReqData()">Import Data</label>
  <input id="importReqData" type="file" />
  <input type="file" id="input" class="btn-raised ripple" onchange="handleFiles(this.files)" value="text">
  <button class="btn-raised ripple">Send to Server</button>
</div>


<h6>RESPONSE</h6>
  <table class="table">
    <tr>
      <th>FieldNo</th>
      <th>FieldType</th>
      <th>FieldLenType</th>
      <th>FieldLen</th>
      <th>FieldDescritption</th>
      <th>FieldValue</th>
    </tr>
    <tr *ngFor="let res of resData">
      <td>{{res?.key}}</td>
      <td *ngIf="resFieldDef">{{resFieldDef[res?.key].type}}</td>
      <td *ngIf="resFieldDef">{{resFieldDef[res?.key].lentype}}</td>
      <td *ngIf="resFieldDef">{{resFieldDef[res?.key].maxlen}}</td>
      <td *ngIf="resFieldDef">{{resFieldDef[res?.key].desc}}</td>
      <td class="pre-ws">"{{res?.value}}"</td>
      <!-- <td><pre>"{{res?.value}}"</pre></td> -->
    </tr>
  </table>
