<header>
  <div class="tab-container">
      <div class="tab-item" routerLink="/app/data" routerLinkActive="tab-item-active" >Data</div>
      <div class="tab-item " routerLink="/app/config" routerLinkActive="tab-item-active" >Configuration</div>
      <div class="tab-item" routerLink="/app/field" routerLinkActive="tab-item-active" >FieldDefinition</div>
      <div class="tab-item" routerLink="/app/log" routerLinkActive="tab-item-active" >ServerConsole</div>
      <div class="tab-item" routerLink="/app/utility" routerLinkActive="tab-item-active" >Migration</div>
      <div class="tab-item" routerLink="/app/help" routerLinkActive="tab-item-active" >Help</div>
  </div>
</header>
<router-outlet></router-outlet>
