<div *ngIf="showErrorDiv" class="label-error ">
  <div class="label-error-header">
    <div (click)="showErrorDiv=false" class="clickable"><i style="font-size:40px;" class="material-icons">highlight_off</i></div>
    <div >Some Error occured..see the detail below!</div>
  </div>
  <!-- <span>
    <label (click)="showErrorDiv=false" class="clickable"><i class="material-icons">highlight_off</i></label>
    <label (click)="showErrorDiv=false" class="center">Some Error occured..see the detail below!</label>
  </span> -->

  <pre style="margin-top:0px;padding-top:0px;"><span >name: {{errorDetail?.name}}<br/></span><span >message: {{errorDetail?.message}}<br/></span><span >stack: {{errorDetail?.stack}}<br/></span></pre>
</div>


<div class="right">


  <input focusOnInit *ngIf="showExportFileName" type="text" (blur)="showExportFileName=false"  [(ngModel)]='exportFileName' placeholder="ENTER FILE NAME...!" />
  <a  [href]="bindExportData? exportFieldDefData(): ''"  (mouseover)="showExportFileName=true" (click)="bindExportData=true" (blur)="bindExportData=false;"  [attr.download]="getExportFileName()"  class="btn-raised ripple  clickable">Export field definition</a>
  <label for="importFieldDefData" class="btn-raised ripple clickable" >Import field definition</label>
  <input id="importFieldDefData" type="file" (change)="importFieldDefData($event)" />
  <label for="importUsingCDCIData" class="btn-raised ripple clickable" >Import using cdci.cfg</label>
  <input id="importUsingCDCIData" type="file" (change)="importUsingCDCIData($event)" />
</div>

<div class="left">
<label>VIEW FIELD DEFINITION</label>
<select (change)="update_currentfdObjArr()" [(ngModel)]="currentfdKey">
 <option  *ngFor="let opt of fdlistKeyArr" [value]="opt">{{opt}}</option>
</select>
</div>
<table class="table">
  <tr>
    <th>FieldNo</th>
    <th>FieldLengthType</th>
    <th>FieldMaxLenght</th>
    <th >FieldDescritption</th>
  </tr>
  <tr *ngFor="let fd of currentfdObjArr">
    <td>{{fd?.key}}</td>
    <td>{{fd?.value?.lentype}}</td>
    <td>{{fd?.value?.maxlen}}</td>
    <td>{{fd?.value?.desc}}</td>
  </tr>
</table>
